# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://bajcllljngaqflsbvrvl.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_Ml6PDYQeJFKLBmV1YmO2oA_0PPRGKVA
SUPABASE_SECRET_KEY=sb_secret_xxxxx

# Stripe (test mode)
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_xxxxx
STRIPE_SECRET_KEY=sk_test_xxxxx
STRIPE_WEBHOOK_SECRET=whsec_xxxxx
